In [2]:
import sqlite3


conexion = sqlite3.connect('universidad.db')
cursor = conexion.cursor()


cursor.execute('''
    CREATE TABLE Asignatura (
        Id INTEGER PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL
    )
''')


cursor.execute('''
    CREATE TABLE Inscripcion (
        Id INTEGER PRIMARY KEY,
        IdAsignatura INTEGER NOT NULL,
        IdAlumno INTEGER NOT NULL,
        IdProfesor INTEGER NOT NULL,
        Fecha DATE NOT NULL
    )
''')


cursor.execute('''
    CREATE TABLE Alumnos (
        Id INTEGER PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL,
        Apellido VARCHAR(100) NOT NULL,
        Direccion TEXT NOT NULL,
        Fecha_Nacimiento DATE
    )
''')


cursor.execute('''
    CREATE TABLE Profesor (
        Id INTEGER PRIMARY KEY,
        Nombre VARCHAR(100) NOT NULL,
        Apellido VARCHAR(100) NOT NULL,
        Direccion VARCHAR(200) NOT NULL,
        Fecha_Nacimiento DATE NOT NULL,
        Nivel_Academico TEXT NOT NULL
    )
''')


conexion.commit()
conexion.close()

OperationalError: table Asignatura already exists